#header{
    color: blue;
    background-color: rgb(43, 226, 43);
    text-align: center;
    padding: 0em;
    margin: 3;
    
}
body{
    background-color: aqua;
    width: 100%;
    padding: 0px;
    margin: 2%px;

}
h2{
    color: black;
    background-color: rgb(149, 70, 70);
    padding: 1%;
    margin: 0%;
    justify-content: baseline;
}
.sheds{
    display: flex;
    justify-content: baseline;
    align-items: center;

    
}
input{
    margin: 1%;
}

p{
    font-size: large;
}

.milkrpt{
    display: flex;
}
.outmlk{
    background-color: rgb(171, 178, 192);
}

output{
    background-color: rgb(229, 230, 238);
}
p{
    font-size: 150%;
}
table{
   border-collapse: collapse;
}
th,
td{
    border: 1px solid black;
    padding: 15px 20px;
}
th{
    font-weight:bold;
}